<div class="container">
  <form [formGroup]="titleForm">
    <input
      (blur)="handleUpdateTitle()"
      value="Título da lista"
      class="input-title-editor"
      formControlName="title"
    />
  </form>

  <form (submit)="handleSubmit()" #addItemForm [formGroup]="itemsForm">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input
        matInput
        name="name"
        formControlName="name"
        placeholder="Novo item"
        #itemNameInput
      />
    </mat-form-field>
    <button
      mat-button
      type="submit"
      [disabled]="itemsForm.get('name')?.value?.length < 3"
    >
      <mat-icon> add </mat-icon>
    </button>
  </form>

  <button mat-raised-button class="ma-1" color="warn" routerLink="/">
    <mat-icon>keyboard_return</mat-icon>
    Voltar
  </button>

  <div *ngIf="items.length === itemsDone.length" class="complete-badge">
    😄 Lista completa
  </div>

  <!-- <mat-selection-list #shoes class="list-container">
    <mat-list-option *ngFor="let item of items">
      <app-list-item
        (deleteItemEvent)="deleteItem(item)"
        [item]="item"
      ></app-list-item>
    </mat-list-option>
  </mat-selection-list> -->

  <ul>
    <li *ngFor="let item of items">
      <app-list-item
        (deleteItemEvent)="deleteItem(item)"
        (changeItemEvent)="updateNumbers()"
        [item]="item"
      ></app-list-item>
    </li>
  </ul>

  <div class="icons-section">
    <span class="item-qty" title="Total de itens">
      <mat-icon aria-hidden="false" aria-label="Total de itens">
        list
      </mat-icon>
      {{ items.length }}
    </span>
    <span class="item-bought" title="Itens comprados">
      <mat-icon
        style="color: green"
        aria-hidden="false"
        aria-label="Itens comprados"
      >
        check_circle
      </mat-icon>
      {{ itemsDone.length }}
    </span>
    <span class="item-unbought" title="Itens por comprar">
      <mat-icon
        style="color: red"
        aria-hidden="false"
        aria-label="Itens por comprar"
      >
        cancel
      </mat-icon>
      {{ itemsUndone.length }}
    </span>
  </div>
</div>
