<div routerLink="/lista/1" class="market-list-card">
  <h1 class="list-card-title">{{ listTitle }}</h1>

  <ul *ngFor="let item of listItems">
    <li>{{ item.name }} x {{ item.qty }}</li>
    <li>
      <i *ngIf="listItems.length > 3">mais...</i>
    </li>
  </ul>

  <div class="icons-section">
    <span class="item-qty" title="Total de itens">
      <mat-icon aria-hidden="false" aria-label="Total de itens">
        list
      </mat-icon>
      {{ totalItems }}
    </span>
    <span class="item-bought" title="Itens comprados">
      <mat-icon
        style="color: green"
        aria-hidden="false"
        aria-label="Itens comprados"
      >
        check_circle
      </mat-icon>
      {{ doneItems }}
    </span>
    <span class="item-unbought" title="Itens por comprar">
      <mat-icon
        style="color: red"
        aria-hidden="false"
        aria-label="Itens por comprar"
      >
        cancel
      </mat-icon>
      {{ undonelItems }}
    </span>
  </div>

  <mat-icon
    (click)="handleDelete($event)"
    title="Apagar lista"
    class="delete-button-card"
    >delete</mat-icon
  >
</div>
