<div class="market-list-card">
  <h1 class="list-card-title">Título da lista</h1>

  <ul>
    <li>Pão x 5</li>
    <li>Ovo x 12</li>
    <li>Salsichinha x 1</li>
    <li>
      <i>mais...</i>
    </li>
  </ul>

  <div class="icons-section">
    <span class="item-qty" title="Total de itens">
      <mat-icon aria-hidden="false" aria-label="Total de itens">
        list
      </mat-icon>
      12
    </span>
    <span class="item-bought" title="Itens comprados">
      <mat-icon
        style="color: green"
        aria-hidden="false"
        aria-label="Itens comprados"
      >
        check_circle
      </mat-icon>
      7
    </span>
    <span class="item-unbought" title="Itens por comprar">
      <mat-icon
        style="color: red"
        aria-hidden="false"
        aria-label="Itens por comprar"
      >
        cancel
      </mat-icon>
      5
    </span>
  </div>
</div>
