<div class="container">
  <h1>Olá {{ username }} 😄</h1>
  <p class="logout" (click)="handleLogout()">Sair</p>

  <h2>Suas listas de compras:</h2>

  <button
    routerLink="criar-lista"
    mat-raised-button
    class="ma-1"
    color="primary"
  >
    <mat-icon>add</mat-icon>
    Add
  </button>

  <app-list-card
    *ngFor="let list of lists"
    [listTitle]="list.title"
    [listItems]="list.list_items"
    [listId]="list.id"
    (deleteListEvent)="handleDelete($event)"
  ></app-list-card>

  <hr />

  <h2>Listas compartilhadas comigo:</h2>

  <p
    [routerLink]="'lista/' + list.market_list.id"
    style="font-size: 16px"
    *ngFor="let list of sharedLists"
  >
    {{ list.market_list.title }} | {{ list.user.name }}
  </p>
</div>
